aiomysql
boto3
Faker
mysql-connector-python
numpy
openpyxl
pandas
requests
tabulate
tqdm
pyodbc
pydantic
pydantic_core
pydantic_settings
XlsxWriter

# for 05-kafka
confluent-kafka
fastavro
cachetools
dataclasses_avroschema

# glue schema registry
aws-glue-schema-registry
